{# templates/contact/contact_form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}
	<h1>Contactez-nous</h1>

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.email) }}
	{{ form_row(form.subject) }}
	{{ form_row(form.message) }}
	<button type="submit">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}

